@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$font_Source : 'Source Sans 3', sans-serif;
$font_Playfair : 'Playfair Display', serif;

/*------------- color variables ------------*/
$white: #ffffff;
$header_bg :rgba(20, 20, 20, 0.102);
$black_dark: #000000;
$lightgray : #909090;
$opacityblack_04 : rgba(0,0,0,0.4);
$primary : #00376A;
$lbl : #637D95;
$body_bg : #F2F2F2;

@mixin body_font{
    font-size: 16px;
    line-height: 22px;
    @include mobile-view{
        font-size: 14px;
        line-height: 20px;
    }
}
@mixin font_14{
    font-size: 14px;
    line-height: 18px;
}
@mixin font_18{
    font-size: 18px;
    line-height: 22px;
}

@mixin font_48{
    font-size: 48px;
    line-height: 63px;
    @include ipad-view{
        font-size: 40px;
        line-height: 55px;
    }
    @include tab-view{
        font-size: 30px;
        line-height: 40px;
    }
    @include mobile-view{
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin solid_btn{
    background: $primary;
    border: 2px solid $primary;
    outline: none;
    box-shadow: none;
    padding: 19px 30px;
    color: $white;
    text-transform: uppercase;
    font-family: $font_Playfair;
    font-weight: 400;
    transition: 0.3 all ease-in-out;
    &:hover{
        background: transparent;
        color: $primary;
    }
}
@mixin border_btn{
    background: transparent;
    border: 1px solid $primary;
    outline: none;
    box-shadow: none;
    padding: 19px 30px;
    color: $primary;
    text-transform: uppercase;
    font-family: $font_Playfair;
    font-weight: 400;
    transition: 0.3 all ease-in-out;
    &:hover{
        background: $primary;
        color: $white;
    }
}

// Resposnive media 
$mini-screen: 1199px;
$ipad-view: 991px;
$tab-view: 767.90px;
$mobile-view: 558px;
$mobile-mini-view: 480px;

@mixin mini-screen {
    @media (max-width: #{$mini-screen}) {
        @content;
    }
}
@mixin ipad-view {
    @media (max-width: #{$ipad-view}) {
        @content;
    }
}
@mixin tab-view {
    @media (max-width: #{$tab-view}) {
        @content;
    }
}
@mixin mobile-view {
    @media (max-width: #{$mobile-view}) {
        @content;
    }
}
@mixin mobile-mini-view {
    @media (max-width: #{$mobile-mini-view}) {
        @content;
    }
}
